body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #002447;
  height: 50pt;
}

hr {
  background-color: #ffffff;
  height: 1px;
  width: 320px;
}

p {
  color: #373A3C;
  line-height: 2.2;
}
.hero-section {
  text-align: center;
  background-image: url('../img/myphoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 600pt;
}

.hero-section h1 {
  padding-top: 480px;
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 65pt;
}

.hero-section h2 {
  padding-top: 20px;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 70pt;
}

 .titulo {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30pt;
 }

 .linea {
   background-color: #000000;
   height: 1px;
   width: 130px;
 }
